= javascript_include_tag 'deadrop', 'sjcl'

.content_pane
  .form-horizontal
    %fieldset.fieldset_with_header
      %legend Drop
      .control-group
        %label.control-label{for: 'password'} Password
        .controls
          = password_field_tag :password, nil, class: 'input-xxlarge'
          %p.help_block Your encryption key
      .control-group
        %label.control-label{for: 'encrypted_text'} Message
        .controls
          = text_area_tag :encrypted_text, @drop.data, class: 'input-xxlarge drop_message', readonly: true
          -#%p.help_block Help text hereta