.span10
  %p
    = text_field_tag :drop_name, nil, class: 'input-medium search-query', placeholder: 'Random'
    = button_tag 'Create Drop', id: 'create_drop_button', class: 'btn btn-primary btn-large'
    = button_tag 'Create Chat', id: 'create_chat_room_button', class: 'btn btn-primary btn-large'