.left_column
  %p
    = text_field_tag :chat_room_name, nil, class: 'input-medium search-query', placeholder: 'Random'
    = button_tag 'Create Chat Room', id: 'create_chat_room_button', class: 'btn btn-primary btn-large'