.content_pane
  %h1.header Frequently Asked Questions
  .left_column
    %p
      FAQ is in development.  Please use the
      = succeed '.' do
        = link_to 'blog', 'http://deadropus.blogspot.com/'
      for now.