.content_pane
  %h1.header Frequently Asked Questions
  .left_column
    %p
      In development.  Please use the
      = succeed '.' do
        = link_to 'blog', 'http://deadropus.blogspot.com/'
         for now.