.content_pane
  %h1.header How it Works
  .left_column
    %p
      Deadrop is dedicated to keeping your communications private.  As a first iteration, you will have the capability
      to post large messages of any text completely secure and encrypted.  Only a person who has the link with the
      encryption key will be able to read the message which is encrypted and decrypted on the user’s computer so the
      server never sees the encryption key or unencrypted text.  See our tutorial to get started or just create a new
      drop below.  although no method is completely secure, there are inherent risk to javascript encryption that is
      addressed in our blog.