<!DOCTYPE html>
<html>
<head>
  <title>Deadrop</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          DeaDrop.us
        </a>
        <ul class="nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= yield %>
</div>


</body>
</html>
